# Django database config for Azure PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=maxadminx
DB_PASSWORD=replace_with_real_password
DB_HOST=x-postsdatabase.postgres.database.azure.com
DB_PORT=5432
DB_SSLMODE=require
